body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

#myH1{
    font-size: 5rem;
    color: hsla(0, 0%, 0%, 0.856);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: rgba(136, 100, 100, 0.521);
}
#display{
    font-size: 5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.685);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: green;
}

#startBtn:hover{
    background-color: rgb(50, 146, 50);
}

#stopBtn{
    background-color: red;
}

#stopBtn:hover{
    background-color: rgb(241, 121, 121);
}
#resetBtn{
    background-color: blue;
}

#resetBtn:hover{
    background-color: rgb(96, 96, 184);
}

